<h1>New User Signup</h1>

<%= form_for :user, url: '/users' do |form| %>

	Name: <%= form.text_field :name %>
	Username: <%= form.text_field :username %>
	Password: <%= form.password_field :password %>
	Password Confirmation: <%= form.password_field :password_confirmation %>
	<%= form.submit "Submit" %>

<% end %>