<h1>New Customer Creation</h1>

<%= form_for :customer, url: '/customer' do |form| %>

	Customer Name: <%= form.text_field :name %><br>
	Address 1: <%= form.text_field :address_1 %><br>
	Address 2: <%= form.text_field :address_2 %><br>
	Address 3: <%= form.text_field :address_3 %><br>
	City: <%= form.text_field :city %><br>
	State: <%= form.text_field :state %><br>
	Zip: <%= form.text_field :zip %><br>
	Phone 1: <%= form.text_field :phone_1 %><br>
	Phone 2: <%= form.text_field :phone_2 %><br>
	Fax 1: <%= form.text_field :fax_1 %><br>
	Fax 2: <%= form.text_field :fax_2 %><br>
	Email Address: <%= form.text_field :email %><br>
	Website: <%= form.text_field :website %><br>
	<%= form.submit "Submit" %>

<% end %>